################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs/*
**/bin/*
**/obj/*
obj/*
/CampusRecruitment/CampusRecruitment.WebAPI/.vs/*
/CampusRecruitment/CampusRecruitment.Model/obj/*
/CampusRecruitment/CampusRecruitment.Model/obj/*
/CampusRecruitment/CampusRecruitment.Repository/obj/*
/CampusRecruitment/CampusRecruitment.Repository/obj/*
/CampusRecruitment/CampusRecruitment.Service/obj/*
/CampusRecruitment/CampusRecruitment.Service/obj/*
/CampusRecruitment/CampusRecruitment.Mapper/obj/*
/CampusRecruitment/CampusRecruitment.Mapper/obj/*
